<h1>Admin: Dashboard</h1>

<% puts "!!!!!!!!!!!!!!!!!!!!!!!! product count test" %>
<% puts @product_count  %>
<p> Product Count = <%= @product_count  %>
    # Category Count = <%= @category_count %>
</p>


